<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Tags" nzIcon="tag">
          <ul>
            <li nz-menu-item>
                <a [routerLink]="['/dashboard/tags']">
                    tags
                </a>
            </li>
            <li nz-menu-item>
                <a [routerLink]="['/dashboard/tags/add']">
                   Add tags
                </a>
            </li>
            <li nz-menu-item>
              <a [routerLink]="['/dashboard/test']">test </a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Project" nzIcon="project">
          <ul>
            <li nz-menu-item>Projects</li>
            <li nz-menu-item>Add Project</li>
            <li nz-menu-item>
              <a [routerLink]="['/dashboard/addCategory']">addCategory</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="categorys" nzIcon="appstore">
          <ul>
          
            <li nz-menu-item>
              <a [routerLink]="['/dashboard/categorys']">categorys</a>
            </li>
          </ul>
        </li>
       
        <li nz-menu-item>
          <span nz-icon nzType="file"></span>
          <span>File</span>
        </li> 
    
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      </nz-header>
      <nz-content>
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item>Tag</nz-breadcrumb-item>
          <nz-breadcrumb-item>project</nz-breadcrumb-item>
        </nz-breadcrumb> -->
     <p></p>
          
        <div class="inner-content">

            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Ibrahim alomar</nz-footer>
    </nz-layout>
  </nz-layout>
  