  <nz-spin [nzSpinning]="isLoading">
    <router-outlet></router-outlet>
  </nz-spin> 


  <!-- <div nz-row> 

    <div nz-col [nzSpan]="8">
      <span>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </span>
    </div>


    <div nz-col [nzSpan]="8">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorem nulla minima? Voluptas officia fugit dolorem a fugiat totam, deleniti quo nulla ad aliquid alias esse corrupti natus placeat ipsam!</span>
    </div>
  </div> -->