
<div class="header-container">
  <div class="filters">
  
    <button nz-button nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="filter"></i> Filter by Column
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        @for (column of listOfColumns; track $index) {
        <li nz-menu-item>
          <label nz-checkbox [(ngModel)]="column.checked" (ngModelChange)="columnSelectChange()">
            {{ column.name }}
          </label>
        </li>
      }
      </ul>
    </nz-dropdown-menu>

    
    <nz-select [(ngModel)]="selectedId" (ngModelChange)="applyFilter()" nzAllowClear nzPlaceHolder="Filter by Id">
      @for (option of idOptions; track $index) {
      <nz-option  [nzValue]="option" [nzLabel]="option"></nz-option>
      }
    </nz-select>

    <nz-select [(ngModel)]="selectedName" (ngModelChange)="applyFilter()" nzAllowClear nzPlaceHolder="Filter by Name">
     @for (option of nameOptions; track $index) {
      <nz-option  [nzValue]="option" [nzLabel]="option"></nz-option>
     }
    </nz-select>

    <nz-select [(ngModel)]="selectedObjectType" (ngModelChange)="applyFilter()" nzAllowClear nzPlaceHolder="Filter by ObjectType">
     @for (option of objectTypeOptions; track $index) {
      <nz-option [nzValue]="option" [nzLabel]="option"></nz-option>
     }
    </nz-select>

    <button nz-button (click)="resetFilters()">Reset Filters</button>
  </div>


  <button nz-button nzType="primary" [routerLink]="['/dashboard/tags/add']">
    <i nz-icon nzType="plus" style="margin-right: 4px;"></i> Add New Tag
  </button>
</div>

<nz-table [nzData]="filteredData" nzTableLayout="fixed" [nzFrontPagination]="false">
  <thead>
    <tr>
      @for (column of listOfColumns; track $index) {
      <ng-container>
        @if (column.checked) {
        <th
            [(nzSortOrder)]="column.sortOrder"
            (click)="sortChange(column)"
            [nzSortFn]="column.sortFn"
         >
          {{ column.name }}
        </th>
      }
      </ng-container>
    }
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of filteredData; track $index) {
    <tr>
      @if(listOfColumns[0].checked){
      <td>{{ item.Id }}</td>
      }
      @if(listOfColumns[1].checked){
      <td>{{ item.Name }}</td>
      }
      @if (listOfColumns[2].checked) {
      <td>{{ item.ObjectType }}</td>
      }
      <td>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          Actions <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <button nz-button nzType="link" [routerLink]="['/dashboard/tags/edit', item.Id]">
                <i nz-icon nzType="edit"></i> Edit
              </button>
            </li>
            <li nz-menu-item>
              <button nz-button nzType="link" (click)="confirmDelete(item.Id, item.Name)">
                <i nz-icon nzType="delete"></i> Delete
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  }
  </tbody>
</nz-table>

<nz-pagination [(nzPageIndex)]="currentPage" [nzTotal]="totalItems" [nzPageSize]="pageSize" (nzPageIndexChange)="onPageChange($event)">
</nz-pagination>
